# Environment Files
.env
.env.*
 
# Node Modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-Specific Files
.DS_Store
Thumbs.db

# Temporary Files and Build Artifacts
tmp/
dist/
build/
.cache/
coverage/

# IDE/Editor Settings
.vscode/
.idea/
