.column {
  background-color: var(--secondary-bg-color-light);
  box-sizing: border-box;
  border-radius: 35px;
  flex-basis: 32%;
  padding: 0 0 5px 0;
  transition: background-color 0.3s ease;
}

.column.dark {
  background-color: var(--secondary-bg-color-dark);
}

.active {
  background-color: var(--column-active-bg-color-light);
}

.active.dark {
  background-color: var(--column-active-bg-color-dark);
}

.column-pill.selected {
  background-color: var(--column-pill-bg-color-light);
  color: var(--column-pill-text-color-light);
}

.column-pill.selected.dark {
  background-color: var(--column-pill-bg-color-dark);
  color: var(--column-pill-text-color-dark);
}

.header {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 8px;
  box-sizing: border-box;
  color: #555;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.title {
  padding: 5px 15px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
