.tasks-container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.task-card {
  border-radius: 30px;
  padding: 25px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
}

.task-card h2 {
  font-size: 1rem;
}

.task-card-inprogress {
  background-color: var(--card-background-color-light);
}

.task-card h2 {
  font-size: 1rem;
  color: var(--card-header-color-light);
}

.task-card-inprogress p {
  color: var(--card-subtext-color-light);
}

.task-card-completed {
  background-color: #00000014;
}

.task-card-inprogress.dark {
  background-color: var(--card-background-color-dark);
}

.task-card.dark h2 {
  color: var(--card-header-color-dark);
}

.task-card-inprogress.dark p {
  color: var(--card-subtext-color-dark);
}

.task-card-completed.dark {
  background-color: #ffffff08;
}

.task-card-hidden {
  display: none;
}

.task-card-dragging {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 100ms;
}

.task-card-dragging-dark {
  box-shadow: rgba(10, 10, 10, 0.555) 0px 4px 8px,
    rgba(0, 0, 0, 0.4) 0px 2px 4px;
  transition: box-shadow 100ms;
}

h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.description-container-hidden {
  overflow: hidden;
  display: none;
  opacity: 0;
  height: 0px;
  transition: 200ms;
}

.description-container {
  overflow: hidden;
  display: block;
  opacity: 1;
  height: auto;
  transition: 200ms;
}

p {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: center;
}

/* Delete Button */
.delete-btn {
  color: var(--delete-btn-color) !important;
  border: none !important;
  transition: 300ms !important;
}

.delete-btn:hover {
  color: #010101 !important;
  transition: 300ms !important;
}

/* Light Mode Buttons */
.edit-btn,
.complete-btn {
  transition: 300ms !important;
  border: none !important;
  color: var(--edit-complete-btn-text-color-light) !important;
}

.edit-btn:hover,
.complete-btn:hover {
  color: #010101 !important;
}

/* Dark Mode Buttons */
.edit-btn.dark,
.complete-btn.dark {
  border: none !important;
  color: var(--edit-complete-btn-text-color-dark) !important;
}

.edit-btn.dark:hover,
.complete-btn.dark:hover {
  border-color: none !important;
  color: #fff !important;
}

/* Delete Button */
.delete-btn {
  color: var(--delete-btn-color) !important;
  border: none !important;
  transition: 300ms !important;
}

.delete-btn:hover {
  color: #ac1423 !important;
}

.loading-border {
  position: relative;
}

.loading-border svg {
  position: absolute;
  top: 0;
  left: 0;
}

.loading-border .line {
  stroke-dasharray: 360;
  stroke-width: 3px;
  fill: transparent;
  stroke: rgba(167, 162, 162, 0.397);
  animation: svgAnimation 2.5s linear infinite;
}

@keyframes svgAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}
