.tasks-container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.task-card {
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: #3f6ca1;
  cursor: pointer;
}

.task-card-inprogress {
  background-color: #f5f6f7;
}

.task-card-completed {
  background-color: #dddddd;
}

.task-card-hidden {
  display: none;
}

.task-card-inprogress:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 100ms;
}

h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.description-container-hidden {
  overflow: hidden;
  display: none;
  opacity: 0;
  height: 0px;
  transition: 200ms;
}

.description-container {
  overflow: hidden;
  display: block;
  opacity: 1;
  height: auto;
  transition: 200ms;
}

p {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: center;
}

.delete-btn {
  border: 1px solid #fa2f43 !important;
  color: #fa2f43 !important;
  transition: 300ms !important;
}

.delete-btn:hover {
  background-color: #fa2f43 !important;
  color: #fff !important;
  transition: 300ms !important;
}

.edit-btn {
  border: 1px solid #d7d7d7 !important;
  color: #676767 !important;
  transition: 300ms !important;
}

.edit-btn:hover {
  background-color: #bfbfbf !important;
  color: #fff !important;
  transition: 300ms !important;
}

.loading-border {
  position: relative;
}

.loading-border svg {
  position: absolute;
  top: 0;
  left: 0;
}

.loading-border .line {
  stroke-dasharray: 360;
  stroke-width: 3px;
  fill: transparent;
  stroke: rgba(167, 162, 162, 0.397);
  animation: svgAnimation 2.5s linear infinite;
}

@keyframes svgAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}
