:root {
  /* Light Theme - Blue */
  --background-color-light: #f1f7ff;
  --secondary-bg-color-light: #e3eefb;
  --card-background-color-light: #edf5ff;
  --card-header-color-light: #2d3d4d;
  --card-subtext-color-light: #718da5;
  --column-active-bg-color-light: #d1e3f0;
  --column-pill-bg-color-light: #d0e4f8;
  --column-pill-text-color-light: #1a5d9e;
  --button-border-color-light: #6e9bcc;
  --button-text-color-light: #3d7cd1;
  --edit-complete-btn-border-color-light: #8fb0d6;
  --edit-complete-btn-hover-bg-color-light: #8fb0d6;
  --edit-complete-btn-text-color-light: #3c6da0;
  --delete-btn-color: #f0717e;
  --delete-btn-border-color: #f0717e;
  --delete-btn-hover-bg-color: #f0717e;

  /* Dark Theme - Blue */
  --background-color-dark: #1f2933;
  --secondary-bg-color-dark: #162029;
  --card-background-color-dark: #1f2e3b;
  --card-header-color-dark: #8e99af;
  --card-subtext-color-dark: #cdd5e5;
  --column-active-bg-color-dark: #283949;
  --column-pill-bg-color-dark: #22313f;
  --column-pill-text-color-dark: #9caab7;
  --button-border-color-dark: #22313f;
  --button-text-color-dark: #57738c;
  --edit-complete-btn-border-color-dark: #375773;
  --edit-complete-btn-hover-bg-color-dark: #375773;
  --edit-complete-btn-text-color-dark: #8aa1b9;
  --delete-btn-color: #f0717e;
  --delete-btn-border-color: #f0717e;
  --delete-btn-hover-bg-color: #f0717e;
}
