:root {
  --background-color-light: #f4fff4;
  --background-color-dark: #0b1a17;
  --secondary-bg-color-light: #e9fbf0;
  --secondary-bg-color-dark: #172623;
  --card-background-color-light: #f3fff8;
  --card-background-color-dark: #1a2f2b;
  --card-header-color-light: #393939;
  --card-header-color-dark: #8eaf99;
  --card-subtext-color-light: #7caf97;
  --card-subtext-color-dark: #cde5d5;
  --column-active-bg-color-light: #dbede2;
  --column-active-bg-color-dark: #284937;
  --column-pill-bg-color-light: #d9f9e6;
  --column-pill-bg-color-dark: #223f31;
  --column-pill-text-color-light: #197f5a;
  --column-pill-text-color-dark: #9cb7aa;
  --button-border-color-light: #87cf9f;
  --button-text-color-light: #4de18a;
  --button-border-color-dark: #223f31;
  --button-text-color-dark: #77a58c;
  --edit-complete-btn-border-color-light: #9fdbbc;
  --edit-complete-btn-hover-bg-color-light: #9fdbbc;
  --edit-complete-btn-text-color-light: #4aaf7b;
  --edit-complete-btn-border-color-dark: #37735f;
  --edit-complete-btn-hover-bg-color-dark: #37735f;
  --edit-complete-btn-text-color-dark: #8ab9a1;
  --delete-btn-color: #f0717e;
  --delete-btn-border-color: #f0717e;
  --delete-btn-hover-bg-color: #f0717e;
}
