:root {
  /*  Light Mode - Green */
  --background-color-light: #f8fffa;
  --secondary-bg-color-light: #e6f7ec;
  --card-background-color-light: #eefaf1;
  --card-header-color-light: #33493d;
  --card-subtext-color-light: #6fa087;
  --column-active-bg-color-light: #d3ece0;
  --column-pill-bg-color-light: #d1f7e3;
  --column-pill-text-color-light: #1a7c5b;
  --button-border-color-light: #7fcf97;
  --button-text-color-light: #41d686;
  --edit-complete-btn-border-color-light: #8fd1ae;
  --edit-complete-btn-hover-bg-color-light: #8fd1ae;
  --edit-complete-btn-text-color-light: #429f71;
  --delete-btn-color: #f0717e;
  --delete-btn-border-color: #f0717e;
  --delete-btn-hover-bg-color: #f0717e;
  /* Dark Mode - Green */
  --background-color-dark: #182d28;
  --secondary-bg-color-dark: #1f352f;
  --card-background-color-dark: #28433c;
  --card-header-color-dark: #9fbfaa;
  --card-subtext-color-dark: #c7e2d2;
  --column-active-bg-color-dark: #2f4b3d;
  --column-pill-bg-color-dark: #2b4235;
  --column-pill-text-color-dark: #a3c4b4;
  --button-border-color-dark: #2c493d;
  --button-text-color-dark: #8fbfa5;
  --edit-complete-btn-border-color-dark: #466b5c;
  --edit-complete-btn-hover-bg-color-dark: #466b5c;
  --edit-complete-btn-text-color-dark: #a6c9b6;
  --delete-btn-color: #f0717e;
  --delete-btn-border-color: #f0717e;
  --delete-btn-hover-bg-color: #f0717e;
}