.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    background-color: #ebedf0;
    border-radius: 20px;
}

.nav-welcome-text {
    font-size: 20px;
    font-weight: 700;
}

.navbar-right {
    display: flex;
    align-items: center;
}