.column {
  background-color: #ebedf0;
  box-sizing: border-box;
  border-radius: 20px;
  flex-basis: 33%;
  padding: 0 0 5px 0;
  transition: background-color 0.3s ease;
}

.active {
  background-color: #d9dde3;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 20px;
  margin: 8px;
  box-sizing: border-box;
}

.header-high {
  background-color: #e9c0c0;
  border-radius: 20px;
}

.header-medium {
  background-color: #ffe6b2;
  border-radius: 20px;
}

.header-low {
  background-color: #fff4e6;
  border-radius: 20px;
}

.title {
  padding: 5px 15px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
