.column {
    padding: 15px;
    flex-basis: 33%;
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.title {
    padding: 5px 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.trash-icon {
    color: rgb(221, 101, 101);
    display: flex;
    justify-content: center;
}