.column {
    background-color: #fff;
    flex-basis: 33%;
    padding: 7px;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    margin: 15px auto;
    box-sizing: border-box;
}

.header-high {
    background: linear-gradient(102.2deg, rgb(250, 45, 66) 9.6%, rgb(245, 104, 104) 96.1%);
}

.header-medium {
    background: linear-gradient(109.6deg, rgb(255, 207, 84) 11.2%, rgb(255, 158, 27) 91.1%);
}

.header-low {
    background: radial-gradient(circle at 10% 20%, rgb(254, 255, 165) 0%, rgb(255, 232, 182) 90%);
}

.title {
    padding: 5px 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.trash-icon {
    color: rgb(221, 101, 101);
    display: flex;
    justify-content: center;
}