.task-card {
  background-color: #e9f3ff;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: #3f6ca1;
  cursor: pointer;
}

.task-card:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 100ms;
}

h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.description-container-hidden {
  overflow: hidden;
  display: none;
  opacity: 0;
  height: 0px;
  transition: 200ms;
}

.description-container {
  overflow: hidden;
  display: block;
  opacity: 1;
  height: auto;
  transition: 200ms;
}

p {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: center;
}

.task-btns {
  padding: 5px 12px;
  line-height: 1.2;
  border-radius: 50px;
  font-weight: 500;
  min-width: 80px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.delete-btn {
  border:1px solid #ff9b9b;
  color: #ff9b9b;
  transition: 300ms;
}

.delete-btn:hover {
  background-color: #ff9a9a;
  color: #fff;
  transition: 300ms;
}

.edit-btn {
  border: 1px solid #d7d7d7;
  color: #676767;
  transition: 300ms;
}

.edit-btn:hover {
  background-color: #bfbfbf;
  color: #fff;
  transition: 300ms;
}
