.container {
  box-sizing: border-box;
  background-color: var(--background-color-light);
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 15px;
}

.container.dark {
  background-color: var(--background-color-dark);
}

.columns-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-basis: 95%;
  box-sizing: border-box;
}

.modal-task-title {
  text-align: left;
  font-style: italic;
  font-weight: 400;
}

.modal-delete-message {
  color: #e12020;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
}

.hidden {
  display: none;
}