:root {
  --primary-color: #1f2933;
  --secondary-color: #162029;
  --card-primary-color: #1f2e3b;
  --card-secondary-color: #1f2e3b;
  --tab-primary-color: #13171a;
  --light-bg: #f1f5fb;
  --dark-bg: #162029;
}

.container {
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 25px;
  min-height: 100vh;
  gap: 15px;
}

.container.dark {
  background-color: var(--primary-color);
}

.columns-container {
  display: flex;
  gap: 10px;
  flex-basis: 95%;
  box-sizing: border-box;
}

.modal-task-title {
  text-align: left;
  font-style: italic;
  font-weight: 400;
}

.modal-delete-message {
  color: #e12020;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
}

.hidden {
  display: none;
}