.container {
  box-sizing: border-box;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  padding: 25px;
  height: 100vh;
  gap: 15px;
}

.columns-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-basis: 95%;
  box-sizing: border-box;
}

.modal-task-title {
  text-align: left;
  font-style: italic;
  font-weight: 400;
}

.modal-delete-message {
  color: #e12020;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
}
