.container {
  display: flex;
  gap: 5px;
  height: 100vh;
  justify-content: space-between;
  padding: 5px 50px;
}

.columns-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-basis: 70%;  
  padding: 5px 10px;
}