.container {
  display: flex;
  gap: 5px;
  height: 100vh;
  justify-content: space-between;
  padding: 5px 50px;
}

.columns-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-basis: 70%;  
  padding: 5px 10px;
}

.modal-task-title {
  text-align: left;
  font-style: italic;
  font-weight: 400;
}

.modal-delete-message {
  color: #e12020;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
}